*{
    box-sizing: border-box;
}
@media (max-width:600px){
    .main_container{
        display:grid;
        grid-template-rows: auto 1fr;
        justify-content: center;
    }
    .header_container{
        display: grid;
        grid-template-columns: 1.2fr 1.2fr; 
        column-gap: 3rem;
        padding: 2.5rem;
    }
    .right_Conatiner a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        font-size: 1.2rem;
    }
    .left_Container,h1{
        font-size:1.475rem;
        font-family: 'poynter-old-style-disply','sans-serif';
        color:#333333;
        font-weight:900;
        display: grid;
        padding-top: 0.2rem;
  
    }
    .right_Conatiner,ul,li{
        font-size: 1.2rem;
        font-family: 'komet','sans-serif';
        line-height:1.3;
        color:#222222;
    }
    .donate_today_button{
        background-color: #C1F7D5;
        font-size: 1.3rem;
        font-weight: 600;
        color:#354463;
        width:21rem;
        height:2.8rem;
        border: none;
        border-radius: 25px;
        text-align: center;
        justify-self: center;
        margin: 1rem;
        cursor:pointer;
        white-space:nowrap;
    }
    .cover_image{
     background-image: url('../assets/issue.png');
     background-size: cover;
     background-position:70% 5%;
     padding-bottom:10%;
     margin-top:5%;
    }
    .image_heading{
        font-size: 3rem;
        color:white;
        font-family:'Protest Riot','sans-serif';
        padding:3rem;
        font-style: italic;
    }
    .issue_card{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left:auto;
        margin-right:auto;
        margin:80% 10% 10% 10%;
        gap:1.4rem;
        line-height: 1.2;
        text-align: center;
        padding:0.9rem;
    }
    .card_text{
        color:#354463;
        font-size: 1.8rem;
        font-family:'sans-serif';
        font-weight:800;
    }
    .card_link{
        color:#354463;
        font-size: 1.3rem;
        font-family: 'sans-serif';
        line-height:1.2;
        text-decoration: underline;
    }
    .issue_button{
        background-color: #354463;
        font-size: 0.875rem;
        color:white;
        font-family:'komet','sans-serif';
        z-index:2;
        margin-top:-8%;
        padding:0.675rem;
        border:none;  
    }
   .takeAction_section{
    background-color: #C1F7D5;
   }
   .bottom_content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding:1rem;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin-top: 8%;
    }
    .content_heading{
        font-size: 1.45rem;
        color:#354463;
        font-family: sans-serif;
        font-weight: 600;
    }
    .content_paragraph{
        font-size: 1rem;
        font-family: sans-serif;
        color: #354463;
        margin-top: 1.2rem;
        line-height: 1.5;
    }
    .top_content{
        text-align:center;
        width:45%;
        padding:0.8rem;
        background-color: #354463;
        color:white;
        font-family: sans-serif;
        z-index:2;
        margin-top:-4%;
    }
    .takeAction_content{
        display: flex;
        justify-content: center;
    }
    .whatWeDo_Section{
        background-color: #354463;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    .whatWeDo_card{
        display:flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        margin-top:25%;
        margin-left: 1.9rem;
        margin-right: 1.9rem;
        margin-bottom: 1.9rem;
    }
    .card_image{
        object-fit: cover;
        width:80%;
        height:14rem;
        margin-top: -10%;
        margin-left: 10%;
        margin-bottom: 15%;   
    }
    .whatWeDo_cardData{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
    .cardData_text{
        font-size: 1.35rem;
        font-family:'sans-serif';
        font-weight: 600;
    }
    .cardData_paragraph{
        font-size: 1rem;
        font-family: sans-serif;
        color:#354463;
        text-align: center;
        line-height: 1.3;
        margin-top:5%;
        padding:0.975rem;
    }
    .whatWeDo_text{
        text-align: center;
        width:45%;
        background-color: white;
        color:#354463;
        font-family:sans-serif;
        padding:1rem;
        margin-top:2rem;
    }
    .whatWeDo_paragraph{
        font-size:1.65rem;
        font-family: sans-serif;
        color:white;
        font-weight:600;
        padding:1rem;
        text-align: center;
        margin-top: 5%;
    }
    .read_more_button{
        font-size: 1.225rem;
        font-family: sans-serif;
        color:#354463;
        background-color: #C1F7D5;
        padding:0.7rem;
        width:55%;
        border:none;
        border-radius:25px;
        text-align: center;
        margin: 1.5rem;
        font-weight: 800;
        cursor:pointer;
    }
    .didyou_know_section{
        display: flex;
        flex-direction: column;
        background-image: url('../assets/didyouKnow.png');
        background-size: cover;
        padding-bottom:10%; 

    }
    .didyouKnow_content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin:5%;
    }
    .take_action_button{
        background-color: #C1F7D5;
        color:#354463;
        font-family: sans-serif;
        font-weight: 900;
        padding:0.8rem;
        border:none;
        width:45%;
        margin-left: 3rem;
        border-radius:25px;
        margin-bottom: 10%;
        cursor:pointer;
    }
    .didYouKnow_cards_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .didyouKnow_card{
        display:flex;
        flex-direction: row;
        gap:1rem;
        background-color: white;
        color:#354463;
        margin:1rem 6% 1rem 6%;
        padding:2.5rem;    
    }
    .left_Content{
        display: flex;
        flex-direction: column;
        line-height: 1.5;
    }
    .right_content{
        display:flex;
        flex-direction: column;
        gap:1rem;
    }
    .didYouKnow_content_heading{
        font-size:1.5rem;
        color:#354463;
        font-family: 'sans-serif';
        font-weight: 800;
        line-height: 1.5;   
    }
    .didyouKnow_paragraph{
        font-size:1rem;
        font-family: sans-serif;
        color:#354463;
        line-height: 1.5;
    }
    .twitter_icon,.facebook_icon{
        background-color: #C1F7D5;
        padding: 0.575rem;
        border-radius: 50%; 
        display: inline-flex; 
        align-items: center; 
        justify-content: center;
    }
    .special_heading{
        width:45%;
        background-color: #354463;
        color:white;
        padding:0.5rem;
        border: none;
        text-align: center;
        margin-left: 26%;
        margin-bottom: -10%;
        z-index:2;
    }
   .content_quote{
    font-size: 3rem;
    color:white;
    font-family:'Protest Riot','sans-serif';
    font-style: italic;
    padding:3rem;
   }
   .stories_section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .stories_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .experience{
    background-color: #354463;
    width:85%;
    margin-top:15%;

   }
   .story_of_mother{
    font-size: 1.375rem;
    color:white;
    font-family: sans-serif;
    padding:1.4rem;
    line-height: 1.5;
    text-align: center;
    font-weight: 800;
   }
   .name_of_mother{
    font-size: 0.975rem;
    font-family: sans-serif;
    color:white;
    text-align: center;
    padding:0.875rem;
   }
   .stories_read_more_btn{
    width:129%;
    background-color: #C1F7D5;
    color: #354463;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight:900;
    border:none;
    margin-top: 6%;
    padding:0.975rem;
    border-radius:25px;
    margin-bottom: 18%;
    cursor:pointer;
   }
   .stories_image{
    width:85%;
   }
   .stories_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
    margin-top: 5%;
    cursor:pointer;
   }
   .stories_heading{
    width:36%;
    background-color: #354463;
    color:white;
    text-align: center;
    font-family: sans-serif;
    padding:0.975rem;
    margin-top: 15%;
    margin-bottom: -4%;
    z-index:2;
   }
   .stories_topContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .action_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #354463;
   }
   .action_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .action_quote{
    font-size: 2.75rem;
    font-family:'Protest Riot','sans-serif';
    color:white;
    padding:1rem;
    font-style: italic;
    text-align: center;
    line-height: 1.2;
    margin-top: 8%;
    margin-bottom: 5%;
   }
   .action_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0.975rem;
   }
   .action_heading{
    font-size: 1.775rem;
    font-family: 'sans-serif';
    color:white;
    font-weight: 800;
    text-align: center;
    padding:1rem;
    line-height: 1.2;
   }
   .action_paragraph{
    font-size: 1rem;
    font-family: sans-serif;
    color:white;
    line-height: 1.3;
    padding:1rem;
    text-align: center;
   }
   .action_button{
    width:45%;
    background-color: #C1F7D5;
    color:#354463;
    padding:1rem;
    border:none;
    border-radius:25px;
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 1.8rem;
    cursor:pointer;
   }
   .action_image{
    width:86%;
    margin-top:8%;
   }
   .image_content{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .action_content_heading{
    font-size:1rem;
    font-family: 'sans-serif';
    color:#354463;
    background-color: white;
    width:10rem;
    text-align: center;
    padding:1rem;
    z-index:2;
    margin-top:-440%;
   }
   .action_event{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .action_details_mobile{
    display:none;
   }
   .action_details_bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .subscribe_section{
    display: flex;
    flex-direction: column;
    background-color: #C1F7D5;
    justify-content: center;
    align-items: center;
   }
  .subscribe_content{
    font-size: 1.325rem;
    font-family: sans-serif;
    font-weight: 800;
    color:#354463;
    text-align: center;
    padding: 0.975rem;
    margin:5%;
  }
  .details_content{
    display: flex;
    flex-direction: row;
    gap:2rem;
  }
  .email_button{
    width:120%;
    background: white;
    color:#354463;
    font-size:1rem;
    font-family: sans-serif;
    border:none;
    border-radius: 25px;
    padding:0.65rem;
    margin-bottom:9%;
  }
  .subscribe_button{
    background-color: #354463;
    color:#C1F7D5;
    width:50%;
    font-size:1rem;
    font-family: sans-serif;
    font-weight:800;
    border:none;
    border-radius:25px;
    padding:0.87rem;
    margin-bottom: 9%;
    cursor:poniter;
  }
  .footer_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding:2rem;
    row-gap:9%;
    column-gap: 5%;
  }
  .footer_heading{
    font-size: 1.2rem;
    font-family:'sans-serif';
    font-weight: 800;
    color:#354463;
    width:60%;
  }
  .contact_section,ul,li,a{
    color:#354463;
    font-size: 1rem;
    line-height: 1.5;
  }
  .follow_section,ul,li,a{
    color:#354463;
    font-size: 1rem;
    line-height: 1.5;
  }
  .learn_section,ul,li,a{
    color:#354463;
    font-size: 1rem;
    line-height: 1.5;
  }
  .footer_quote{
    font-size: 1.75rem;
    font-family: 'Protest Riot','sans-serif';
    color:#354463;
    font-style:italic;
    line-height: 1.3;
    width:40%;
    margin-right:0;
    margin-bottom: 6%;
    margin-top: 5%;
  }
  .quote_content{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
  }
 } 

@media (min-width:601px){
   .main_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    margin-bottom:2rem;
    
   }
   .header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:20rem; 
   }
   .common_container{
    padding-left:1rem;
    padding-right:1rem;
   }
   .right_Conatiner,a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:3.5rem;
    font-family: 'sans-serif';
    font-size:1.45rem;
    color:#354463;
    text-decoration: none;
   } 
   .left_Container,h1{
    font-size:1.465rem;
    font-family: 'poynter-old-style-disply','sans-serif';
    color:#333333;
    font-weight:900;
    width:10rem;
   }
   .right_Conatiner,ul,li{
    font-size: 1.2rem;
    font-family: 'komet','sans-serif';
    color:#222222;
   }
    .donate_today_button{
        background-color: #C1F7D5;
        font-size: 1.1rem;
        font-weight: 550;
        color:#354463;
        width:11rem;
        height:3rem;
        border: none;
        border-radius: 25px;
        justify-self: center;
        cursor: pointer;
    }
    .cover_image{
    background-image: url('../assets/issue.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
   }
    .cover_image{
    display: flex;
    flex-direction: row-reverse;
    justify-content:center;
    align-items: center;
    gap:10rem;
    padding-bottom:14%;
    }
    .issue_card{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.4rem;
    line-height: 1.2;
    padding:5rem;
    width:33%;
    margin-top:4%;
    margin-left:3.5%;
   }
    .card_text{
    color:#354463;
    font-size: 3rem;
    font-family:'sans-serif';
    font-weight:800;
   }
    .card_link{
    color:#354463;
    font-size: 1.3rem;
    font-family:sans-serif;
    line-height:1.2;
    text-decoration: underline;
   }
    .issue_button{
    background-color: #354463;
    font-size: 0.975rem;
    color:white;
    font-family:sans-serif;
    z-index:2;
    padding:0.975rem;
    border:none;
    width:auto;
    margin-top:-23%;
    margin-right:16rem;
    white-space: nowrap;
    
   }
    .image_heading{
    font-size: 5rem;
    color:white;
    font-family:'Protest Riot','sans-serif';
    padding:3rem;
    margin-right:12rem;
    font-style: italic;

   }
   .takeAction_section{
    background-color: #C1F7D5;
    
   }
   .bottom_content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top:3%;
    gap:8.5%;
} 
.content_heading{
    font-size: 1.85rem;
    color:#354463;
    font-family:'sans-serif';
    font-weight: 600;
}
.content_paragraph{
    font-size:0.975rem;
    font-family: sans-serif;
    color: #354463;
    margin-top: 1.2rem;
    line-height: 1.5;
    width:12rem;
    margin-bottom:15%;
}
.top_content{
    text-align:center;
    width:10%;
    padding:0.8rem;
    background-color: #354463;
    color:white;
    font-family: sans-serif;
    z-index:2;
    margin-top: -1%; 
    white-space: nowrap; 
}
.takeAction_content{
    display: flex;
    justify-content: center;
}
.card_image{
    object-fit: cover;
    width:18rem;
    height:13rem;
    position:relative;
    left:6%;
    bottom:8%;
}
.whatWeDo_Section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
    background-color: #354463;
}
.whatWeDo_card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    margin:2%;
    width:16%;
    padding:1.3rem;
}
.cards_section{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:2.5rem;
    margin-left:-4%;
}
.cardData_text{
    font-size: 1.65rem;
    font-family:'sans-serif';
    font-weight: 600;
    margin-top:3%;
    line-height: 1.5;
}
.cardData_paragraph{
    font-size: 1rem;
    font-family: sans-serif;
    color:#354463;
    line-height: 1.5;
    margin-top:5%;
}
.read_more_button{
    font-size: 1rem;
    font-family:'sans-serif';
    color:#354463;
    background-color: #C1F7D5;
    padding:0.7rem;
    width:68%;
    border:none;
    border-radius:25px;
    text-align: center;
    font-weight: 800;
    margin-top: 5%;
    margin-bottom: 5%;
    cursor:pointer;   
    white-space: nowrap; 
}
.whatWeDo_text{
    width:10%;
    padding:0.975rem;
    background-color: white;
    color:#354463;
    font-family: sans-serif;
    margin-left: 16%;
    margin-top: 4rem;
    text-align: center;
    white-space: nowrap;
}
.whatWeDo_paragraph{
 font-size: 2.95rem;
 color:white;
 font-family: 'sans-serif';
 font-weight: 800;
 width:68%;
 margin-left:16%;
}
.didyou_know_section{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/didyouKnow.png');
    background-size: cover;
    background-position: center;
    padding-bottom: 10%;
}
.didYouKnow_cards_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:8rem;
    margin-right:20%;    
}
.didyouKnow_card{
    display:flex;
    flex-direction: row;
    gap:1rem;
    background-color: white;
    color:#354463;
    margin:1rem 10% 1rem;
    padding:4rem; 
    width:100%;   
}
.left_Content{
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}
.right_content{
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.didYouKnow_content_heading{
    font-size:2.5rem;
    color:#354463;
    font-family: 'sans-serif';
    font-weight: 800;
    line-height: 1.5;    
}
.didyouKnow_paragraph{
    font-size:1rem;
    font-family: sans-serif;
    color:#354463;
    line-height: 1.5;
}
.twitter_icon,.facebook_icon{
    background-color: #C1F7D5;
    padding: 0.575rem;
    border-radius: 50%; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
}
.special_heading{
    width:45%;
    background-color: #354463;
    color:white;
    padding:0.7rem;
    border: none;
    text-align: center;
    margin-left: 20%;
    margin-bottom:-7%;
    z-index:2;
    white-space: nowrap;
}
.content_quote{
font-size: 4rem;
color:white;
font-family:'Protest Riot','sans-serif';
font-style: italic;
width:35%;
line-height:1.2;
margin-left: 30%;
margin-top: -32%;
}
.take_action_button{
    background-color: #C1F7D5;
    color:#354463;
    font-family: sans-serif;
    font-weight: 900;
    padding:0.8rem;
    border:none;
    width:20%;
    border-radius:25px;
    margin-left: 30%;
    margin-top:1%;
    cursor:pointer;
}
.stories_content{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.stories_section{
    font-display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:8%;
}
.stories_read_more_btn{
    width:40%;
    background-color: #C1F7D5;
    color: #354463;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight:900;
    border:none;
    margin-top: 6%;
    padding:0.675rem;
    border-radius:25px;
    margin-bottom: 5%;
    cursor:pointer;
    white-space: nowrap;
   }
   .stories_image{
    width:100%; 
   }
   .stories_heading{
    width:26%;
    background-color: #354463;
    color:white;
    text-align: center;
    font-family: sans-serif;
    padding:0.975rem;
    margin-top:10%;
    position:relative;
    margin-bottom:-5%;
    margin-left:8%; 
   }
   .experience{
    background-color: #354463;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:30%;
    position: relative;
    margin-right: -5%;
   }
   .story_of_mother{
    font-size: 1.875rem;
    color:white;
    font-family: 'sans-serif';
    padding:1.95rem;
    line-height: 1.5;
    font-weight: 800;
   }
   .name_of_mother{
    font-size: 0.975rem;
    font-family: sans-serif;
    color:white;
    padding:1.5rem;
   }
   .stories_read_more_btn{
    width:10rem;
    background-color: #C1F7D5;
    color: #354463;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight:900;
    border:none;
    padding:0.675rem;
    border-radius:25px;
    margin-bottom:2%;
    cursor:pointer;
   }
   .stories_button{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -15%;
    margin-left: -50%;
    cursor:pointer;
    white-space: nowrap;
   }
   .action_section{
    background-color: #354463;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .action_quote{
    font-size: 3.75rem;
    font-family:'Protest Riot','sans-serif';
    color:white;
    font-style: italic;
    line-height: 1.2;
    margin-top: 4%;
    margin-bottom:0;
    width:39%;
    margin-left:-30%
   }
   .action_details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:2%;
    margin-left:-5%;
    gap:6rem;
    width:60%;
   }
   .action_content_heading{
    font-size:1rem;
    font-family: 'sans-serif';
    color:#354463;
    background-color: white;
    width:10rem;
    text-align: center;
    padding:1rem;
    margin-bottom:6%;
   }
   .action_heading{
    font-size: 2.775rem;
    font-family: 'sans-serif';
    color:white;
    font-weight: 800;
    line-height:1.3;
    margin-bottom:6%;
   }
   .action_paragraph{
    font-size: 1.25rem;
    font-family: sans-serif;
    color:white;
    line-height: 1.5;
   }
   .action_button{
    width:57%;
    background-color: #C1F7D5;
    color:#354463;
    border:none;
    border-radius:25px;
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 1.8rem;
    margin-top:2rem;
    padding:0.8rem;
    text-align: center;
    cursor:pointer;
    white-space: nowrap;
   }

   .action_details_bottom
   {
    display: none;
   }
   .action_details_mobile{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 5%;
    gap:6rem;
    width:65%;
   }
   .subscribe_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #C1F7D5;
    padding:4.5rem;
    gap:2.5rem;
   }
   .subscribe_content{
    font-size: 1.95rem;
    color:#354463;
    font-weight: 800;
    font-family:'sans-serif';
    width:38%;
   }
   .details_content{
    display: flex;
    flex-direction: row;
    gap:1rem;
   }
   .email_button{
    width:150%;
    background-color: white;
    border:none;
    color:#354463;
    font-family: sans-serif;
    font-size: 1rem;
    border-radius: 25px;
    padding:0.96rem;
    padding-right:10rem;
   }
   .subscribe_button{
    width:50%;
    background-color: #354463;
    color:#C1F7D5;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 800;
    border:none;
    border-radius:45px;
    padding:0.875rem;
    cursor:pointer;
   }
   .contact_section,ul,li{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
    gap:0;
   }
   .follow_section ul,li,a{
    display:flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: flex-start;
    gap:0;
   }
   .learn_section ul,li,a{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: flex-start;
    gap:0
   }
   .footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1.3rem;
    padding:3rem;
}
.footer_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10rem;
}
.footer_heading{
  font-size: 1.475rem;
  font-family:'sans-serif';
  font-weight: 800;
  color:#354463;
  width:60%;
  margin-left:70%;
}
.contact_section ul,li{
    color:#354463;
    font-size: 1rem;
    font-family: sans-serif;
    line-height:1.6;
}
.follow_section ul,li,a{
    color:#354463;
    font-size: 1rem;
    font-family: sans-serif;
    line-height:1.6;
    text-decoration: none;
}
 .learn_section ul,li,a{
    color:#354463;
    font-size:0.965rem;
    line-height:1.6;
    text-decoration: none;
}
.footer_quote{
    font-size: 2.45rem;
    font-family: 'Protest Riot','sans-serif';
    color:#354463;
    font-style:italic;
    line-height: 1.3;
    width:40%;
    margin-left: 20%;
}
.contact_section ul li:first-child,
.follow_section ul li:first-child,
.learn_section ul li:first-child {
  border-bottom: 1px solid #354463;
  padding-bottom:3%;
  margin-bottom:10%;
  font-weight: 600;
}
}
